<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="module">
<head>
    <meta charset="utf-8" />
    <title>Git Viewer</title>

    <!--Add Angular-->
    <script src="angular.min.js"></script>
    <script src="angular-route.min.js"></script>



                <!--My Controllers-->
    <script type="text/javascript" src="module.js"></script>
    <script type="text/javascript" src="mainController.js"></script>
    <script type="text/javascript" src="github.js"></script>
    <script type="text/javascript" src="person.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>


  

<body ng-controller="MainController">
    <h1>INDEX</h1>
    <div ng-view>
        <form name="findUser" ng-submit="search(username)">
            <input type="search" require placeholder="Find User" ng-model="username" />
            <input type="submit" value="search">
        </form>
        <p ng-hide="!error">Error: {{error}}</p>


        <div>

            <br>
            <br>
            <br>
            <br>
            <br>
            <p id="myUserData"> {{data}}</p>
            <p>Repos:</p>

            <select ng-model="repoSortOrder">
                <option value="-language">Language</option>
                <option value="+name">Name</option>
                <option value="-stargazers_count">Stars</option>

            </select>
            <br>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Starts</th>
                        <th>Language</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="repo in repos | orderBy:repoSortOrder">
                        <td>{{repo.name}}</td>
                        <td>{{repo.stargazers_count | number:1 }}</td>
                        <td>{{repo.language}}</td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>


</body>
</html>